################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages
/PoC.Spa.Localization/bin
/PoC.Spa.Localization/obj
