<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>


    <script src="~/Scripts/vendors/angular.min.js"></script>
    <script src="~/Scripts/vendors/angular-resource.min.js"></script>
    <script src="~/Scripts/vendors/angular-route.js"></script>
    <script src="~/Scripts/vendors/angular-translate.min.js"></script>
    <script src="~/Scripts/vendors/angular-translate-loader-url.min.js"></script>
    <script src="~/Scripts/vendors/angular-translate-loader-partial.js"></script>


    <script src="~/Scripts/index.js"></script>

</head>
<body ng-app="myApp">

    <div class="container body-content">
        @RenderBody()
    </div>

</body>
</html>